body{
    position: relative;
    height: 5000px;
    background: #cccccc;
    background-image:
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png),
        url(./img/アートボード\ 4.png);
    background-position:
        top 400px left,
        top 850px left,
        top 2770px left,
        top 4140px left,
        top 400px right,
        top 850px right,
        top 1810px right,
        top 2770px right,
        top 3850px right,
        top 4820px right,
        calc(50% - 140px) bottom,
        calc(50% + 140px) bottom;
    background-repeat: no-repeat;
    background-size:
        10% 180px,
        10% 1650px,
        10% 1100px,
        10% 1000px,
        10% 180px,
        10% 690px,
        10% 690px,
        10% 700px,
        10% 560px,
        10% 500px,
        3% 130px,
        3% 130px;
}
h1{ 
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    font-size: 3rem;
}
.whole_clock{
    font-size: 3em;
    top: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.box{
    position: absolute;
    background-image: url(./img/scratch-animgif2-01.gif);
    background-size: contain;
    background-repeat: no-repeat;
    top: 400px;
    width: 5%;
    height: 30px;
}
.box2{
    position: absolute;
    background-image: url(./img/scratch-animgif2-01.gif);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0px;
    width: 5%;
    height: 30px;
}
.box3{
    position: absolute;
    background-image: url(./img/scratch-animgif2-01.gif);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 10px;
    width: 5%;
    height: 30px;    
}
#title{
    border-radius: 75px;
    background: linear-gradient(145deg, #cccccc, #acacac);
    box-shadow:  16px 16px 41px #9f9f9f, 
                 -16px -16px 41px #dfdfdf;
    padding: 30px;
}
#scrollValue{
    margin: 0;
    position: fixed;
    right: 10px;
    top: 10px;
}
#box1{left: 10%;}
#box2{left: 15%;}
#box3{left: 20%;}
#box4{left: 25%;}
#box5{left: 30%;}
#box6{left: 35%;}
#box7{left: 40%;}
#box8{left: 45%;}
#box9{left: 50%;}
#box10{left: 55%;}
#box11{right: 10%;}
#box12{right: 15%;}
#box13{right: 20%;}
#box14{right: 25%;}
#box15{right: 30%;}
#box16{right: 35%;}
#box17{right: 40%;}
#box18{right: 45%;}
#box19{right: 50%;}
#box20{right: 55%;}
#box21{right: 12%;}
#box22{right: 17%;}
#box23{right: 22%;}
#box24{right: 27%;}
#box25{right: 32%;}
#box26{right: 37%;}
#box27{right: 42%;}
#box28{right: 47%;}
#box29{right: 52%;}
#box30{right: 57%;}
